* {
    box-sizing: border-box;
}

body {
    background: #F8F8FA;
}

nav {
    display: block;
}

.menu-item{
    display: inline-block;
}

.menu-button{
    display: inline-block;
}

.menu-item-spec{
    margin-right: 105px;
}

#logo-text{
    margin-left: 203px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

/* .container-flex-menu{
    display: flex;
	align-items: center;
    text-decoration: none;
} */

.navbar-top{
    margin: 100px 0;
}

a, a:hover{
    text-decoration: none;
}

