* {
    box-sizing: border-box;
}

body {
    background: #F8F8FA;
}

nav {
    display: block;
}

.menu-item{
    display: inline-block;
}

.menu-button{
    display: inline-block;
}

.menu-item-spec{
    margin-right: 105px;
    color: #262626;
    font-size: 15px;
}

#logo-text{
    margin-left: 203px;
    color: #722ED1;
    margin-right: 140px;
    font-size: 25px;
}

#menu-button-reg{
    padding: 10px 78px 7px 78px;  
    background: #FFFFFF;
    border-radius: 12px;
    color: #722ED1;
    transition: all 0.5s ease
}

#menu-button-reg:hover{
    color:#262626;
    
}

.container-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

/* .container-flex-menu{
    display: flex;
	align-items: center;
    text-decoration: none;
} */

.navbar-top{
    margin: 100px 0;
}

a, a:hover{
    text-decoration: none;
}

