* {
    box-sizing: border-box;
}

body {
    background: #F8F8FA;
}

nav {
    display: block;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar-top{
    padding: 100px 0;
}

a, a:hover{
    text-decoration: none;
}

